*{
    margin: 0;
    box-sizing: border-box;
}


main{
    width: 100vw;
    height: 100vh;
}


.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fit, 300px);
    height: 100%;
    width: 100%;
    gap: 20px;
    overflow-y: scroll;
}

.box {
    height: 300px;
    width: 200px;
}

.orange{
    background-color:#ef522e;
}

.green{
    background-color: #008080;
}
