*{
    margin: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 30vw));
    gap: 20px;
    overflow-y: scroll;
}

main section{
    background-color:#ef522e;
}

main section:nth-child(2n){
    background-color: #008080;
}
